/* Finestra input */
/* colori */
/*
bottoni: #34A0D5
asse x: #A83838
asse y: #71C140
asse z: #3C38A8
griglia 1: #5D4761
griglia 2: #443647
bg: #272933
grigio 1: #3B3C46
grigio 2: #545564
punti: #915B9A
linee: #635A99
punti selezionati: #CCB2D2 - #6EA465
linee selezionate: #9F98C3 - #9CA566
link: https://coolors.co/34a0d5-a83838-71c140-3c38a8-915b9a-5d4761-443647-272933-3b3c46-545564

icone: https://icons8.com/icons/all--os-ios--style-ios-glyphs

*/ 

/* ----- CORPO SITO ----- */
/* Margine sito */
body {
	margin: 0;
	padding: 0;
	cursor: crosshair;
	background-color: #272933;
	overflow: hidden;
}
button:focus {
    outline: none;
}

/* ----- LOGO ----- */
.logo {
	position: fixed;
	top: 15px;
	left: 15px;
	width: 30px;
}

/* ----- GESTIONE FILE ----- */
#fileBar {
	position: fixed;
	top: 10px;
	left: 48%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	background: #3B3C4680;
	border-radius: 20px;
	box-shadow: 0 0 10px #00000033;
}

#nomeFile {
	text-align: center;
	font-family: monospace;
	font-size: 15px;
	border-radius: 20px;
	padding: 5px;
	border: none;
	color: white;
	background: #3B3C46D9;
	width: 150px;
	height: 20px;
	box-shadow: 0 0 10px #00000033;
}
#nomeFile::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
.file-actions {
	display: flex;
	gap: 10px;
}

/* ----- UNITA ----- */
#unit p {
	position: fixed;
	bottom: 10px;
	left: 10px;
	margin: 0;
	color: white;
	font-family: monospace;
	font-size: 15px;
	opacity: 50%;
}

/* ----- RIBBON ----- */
#ribbon {
	position: fixed;
	top: 10px;
	left: 55px;
	height: 30px;
	border-radius: 20px;
	padding: 5px;
	background: #3B3C4680;
	box-shadow: 0 0 10px #00000033;
	cursor: default;
}

.tab {
	font-family: monospace;
	border-radius: 15px;
	padding: 5px;
	height: 30px;
	min-width: 70px;
	border: none;
	color: white;
	background-color: transparent;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
}
.tab.active {
	background: white;
	color: black;
	box-shadow: 0 0 10px #00000033;
}

/* ---------------------------------------------------------------------------------------------- */
/* ----- TAB MENU ----- */
.panel {
	display: none;
	position: fixed;
	top: 60px;
	left: 10px;
	/* right: 10px; */
	height: 90px;
	border-radius: 20px;
	/* padding: 10px; */
	flex-direction: row;
	gap: 10px;
	background: #3B3C4680;
	box-shadow: 0 0 10px #00000033;
}
.panel.active {
	display: flex;
}

/* ----- IMPUT PUNTI ----- */
/*  riquadro punti */
#point-form,
#line-form,
#load-form,
#amd-form,
#damping-form,
#NMode-form,
#Dsisma-form {
	display: flex;
	background: #3B3C46D9;
	padding: 10px;
	border-radius: 20px;
	box-shadow: 0 0 10px #00000033;
	font-family: monospace;
	color: white;
	font-weight: bold;
	font-size: 15px;
	gap: 10px;
}
#point-form .inputs,
#line-form .inputs,
#load-form .inputs,
#amd-form .inputs,
#damping-form .column,
#NMode-form .inputs,
#Dsisma-form .inputs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#removeDamping {
    display: none; /* di default nascosto */
}
.LoadButton {
	display: flex;
	gap: 10px;
	height: 44px;
}
.LoadButton button {
    flex: 1;
}

/* input e bottone */
#point-form input,
#point-form button,
#damping-form input,
#damping-form button,
#NMode-form input,
#Dsisma-form input,
#load-form input,
#load-form button,
#line-form input,
#line-form button,
#amd-form input,
#amd-form button,
.modal input,
.buttonsSez button,
.buttonsMat button,
#matLibraryClose,
#secLibraryClose,
#analisiCancel,
#cancelAnalysisBtn {
	font-family: monospace;
	border-radius: 10px;
	padding: 2px 5px 2px 5px;
	border: none;
	color: white;
}
#point-form input,
#damping-form input,
#NMode-form input,
#Dsisma-form input,
#line-form input,
#amd-form input,
.modal input {
	background: #272933D9;
	width: 70px;
}
#load-form input {
	background: #272933D9;
	width: 120px;
}
#point-form button,
#damping-form button,
#load-form button,
#line-form button,
#amd-form button,
.buttonsSez button,
.buttonsMat button,
#matLibraryClose,
#secLibraryClose,
#analisiCancel,
#cancelAnalysisBtn {
	background-color: #545564;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.3s;
	cursor: pointer;
}

#point-form button:hover,
#damping-form button:hover,
#load-form button:hover,
#line-form button:hover,
#amd-form button:hover,
.buttonsSez button:hover,
.buttonsMat button:hover,
#matLibraryClose:hover,
#secLibraryClose:hover,
#analisiCancel:hover,
#cancelAnalysisBtn:hover {
	background-color: white;
	color: black;
}
#point-form input[type=number]::-webkit-inner-spin-button,
#point-form input[type=number]::-webkit-outer-spin-button,
#damping-form input[type=number]::-webkit-inner-spin-button,
#damping-form input[type=number]::-webkit-outer-spin-button,
#NMode-form input[type=number]::-webkit-inner-spin-button,
#NMode-form input[type=number]::-webkit-outer-spin-button,
#Dsisma-form input[type=number]::-webkit-inner-spin-button,
#Dsisma-form input[type=number]::-webkit-outer-spin-button,
#load-form input[type=number]::-webkit-inner-spin-button,
#load-form input[type=number]::-webkit-outer-spin-button,
#line-form input[type=number]::-webkit-inner-spin-button,
#line-form input[type=number]::-webkit-outer-spin-button,
#amd-form input[type=number]::-webkit-inner-spin-button,
#amd-form input[type=number]::-webkit-outer-spin-button,
#sectionModal input[type=number]::-webkit-inner-spin-button,
#sectionModal input[type=number]::-webkit-outer-spin-button,
#materialModal input[type=number]::-webkit-inner-spin-button,
#materialModal input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Rimuove le freccette in Firefox */
#point-form input[type=number],
#damping-form input[type=number],
#NMode-form input[type=number],
#Dsisma-form input[type=number],
#load-form input[type=number],
#line-form input[type=number],
#amd-form input[type=number],
#sectionModal input[type=number],
#materialModal input[type=number] {
	appearance: textfield;
}

/* ----- VINCOLI ----- */
/* Bottone vincolo */
#fixed-form,
#rayleigh-damping {
	display: flex;
	justify-content: center;
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
	gap: 10px;
}
#fixed-form button {
	font-family: monospace;
	border-radius: 10px;
	padding: 5px;
	border: none;
	color: white;
	background-color: #545564;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.3s;
	cursor: pointer;
}
#fixed-form button:hover {
	background-color: white;
	color: black;
}

.switch{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #545564;
	transition: 0.3s;
	border-radius: 20px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #34A0D5;
}
input:checked + .slider:before {
	transform: translateX(20px);
}
.switch-label {
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* ----- MODALITA LINEA E PIANO----- */
#mode {
	display: flex; 
	gap: 10px;  
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
	padding: 10px;
	border-radius: 20px;
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* Bottone creazione piano */
#mode button {
	font-family: monospace;
	text-align: center;
	border-radius: 10px;
	padding: 2px 5px 2px 5px;
	border: none;
	color: white;
	background-color: #545564;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.3s;
	cursor: pointer;
}
#mode button:hover {
	background-color: white;
	color: black;
}

/* ----- MATERIALI ----- */
/* Dropdown */
.AnalisiDropdown {
	position: fixed;
	right: 20px;
	top: 50px;
	z-index: 10;
	display: none;
}
.menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
	padding: 10px;
	border-radius: 20px;
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.AnalisiDropdown-btn,
.dropdown-btn,
.tabs button {
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border-radius: 10px;
	padding: 5px;
	border: none;
	background-color: #545564;
	transition: background-color 0.3s;
	cursor: pointer;
	height: 30px;
}
.AnalisiDropdown-btn {
	width: 180px;
	text-align: center;
}
.AnalisiDropdown-list,
.dropdown-list {
	display: none;
	position: absolute;
	background-color: #545564;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0px 5px 10px #00000033;
	font-weight: normal;
}
.dropdown-list {
	top: calc(100% - 10px);
}
.AnalisiDropdown-list {
	top: calc(100% + 10px);
	left: 50%;
	transform: translateX(-50%);
	width: 200px;
	z-index: 10;
}
.dropdown-list div,
.AnalisiDropdown-list div {
	text-align: center;
	padding: 5px;
	cursor: pointer;
	border-radius: 10px;
	font-family: monospace;
	font-size: 15px;
	color: white;
}
.dropdown-list div:hover,
.AnalisiDropdown-btn:hover,
.AnalisiDropdown-list div:hover,
.dropdown-btn:hover,
.tabs button:hover {
	background-color: white;
	color: black;
}
.new-btn {
	font-family: monospace;
	border-radius: 10px;
	padding: 5px;
	border: 2px solid black;
	border-color: white;
	color: white;
	background-color: #545564;
	font-weight: bold;
	font-size: 15px;
	transition: background-color 0.3s;
	cursor: pointer;
	text-align: center;
}

/* NUOVA SEZIONE/MATERIALE ---------------------------------------------------------------------- */
.modal {
	position: fixed;
	display: flex;
	inset: 0;
	align-items: flex-start;
	justify-content: center;
	padding-top: 180px;
	z-index: 10000;
	font-family: monospace;
	color: white;
	font-weight: bold;
	font-size: 15px;
	cursor: default;
}
.modal-overlay {
	position: fixed;
	inset: 0;
	background: #3B3C4680;
	z-index: 999;
}
.modal.hidden {
	display: none;
}
.modal-content {
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
	padding: 10px;
	border-radius: 20px;
	position: relative;
	z-index: 1000;
}
#analisiModal .modal-content {
	max-width: calc(100% - 100px);
}
.modal-content h3 {
	margin: 0;
}
.modal label {
	margin-top: 10px;
	margin-bottom: 10px;
}
.MatTitle,
.SecTitle {
	display: flex;
	justify-content: space-between;
}
#sectionModal .field {
	display: grid;
	grid-template-columns: 50px 1fr;
}
#materialModal .field {
	display: grid;
	grid-template-columns: 80px 1fr;
}
.modal input {
	width: 150px;
}
.preview,
.Analisipreview {
	background: #545564;
	font-weight: normal;
	padding: 10px;
	border-radius: 15px;
	/* height: 105px; */
}
.Analisipreview {
	max-height: calc(100vh - 410px);
	min-height: 105px;
	overflow-y: auto;
	overflow-x: auto;
}
#plotRisultati {
	position: fixed;
	top: 150px;
	left: 5px;
	padding: 10px;
	border-radius: 20px;
	/* background-color: #545564; */
	font-family: monospace;
	color: white;
	font-size: 15px;
	/* opacity: 0.5; */
	margin: 0;
}
#plotRisultatiModali {
	position: fixed;
	top: 275px;
	left: 5px;
	padding: 10px;
	border-radius: 20px;
	/* background-color: #545564; */
	font-family: monospace;
	color: white;
	font-size: 15px;
	/* text-align: right; */
	/* opacity: 0.5; */
	margin: 0;
}
.buttonsSez button,
.buttonsMat button {
	flex: 1;
	max-width: none;
}
.buttonsSez,
.buttonsMat {
	display: flex;
	/* justify-content: center; */
	margin-top: 10px;
	gap: 10px;
}
#analisiCancel {
	margin-top: 10px;
}
#matLibraryBtn,
#secLibraryBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/database-import.png') no-repeat center center;
	background-size: contain;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
}

/* ARCHIVIO SEZIONI/MATERIALI */
#materialLibraryModal .modal-content,
#sectionLibraryModal .modal-content {
	width: 250px;      /* larghezza fissa */
	height: 420px;     /* altezza fissa */
	display: flex;
	flex-direction: column;
	background-color: #3B3C46;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	gap: 10px;
}
.tabs button.active {
	background: white;
	color: black;
}
.library-list {
	flex: 1;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 10px;
}
.library-list div {
	padding: 5px;
	cursor: pointer;
}
.library-list div:hover {
	background: white;
	color: black;
	border-radius: 10px;
}

/* ANALISI -------------------------------------------------------------------------------------- */
#analisiBtn,
#escBtn,
#ModalAnalisiBtn {
	font-family: monospace;
	font-weight: bold;
	font-size: 15px;
	border-radius: 10px;
	padding: 5px;
	border: none;
	color: white;
	box-shadow: 0 0 10px #00000033;
	cursor: pointer;
	transition: box-shadow 0.2s, transform 0.2s;
	margin: 10px;
}
#analisiBtn,
#escBtn {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 30px;
}
#analisiBtn,
#ModalAnalisiBtn {
	background: #34A0D5;
}
#analisiBtn:hover,
#ModalAnalisiBtn:hover {
    box-shadow: 0 0 8px #34A0D5bf;
    transform: translateY(-2px);
}
#analisiBtn:active,
#ModalAnalisiBtn:active {
    transform: translateY(1px);
    box-shadow: 0 0 4px #34A0D5bf;
}
#escBtn {
	background: #C75757;
}
#escBtn:hover {
    box-shadow: 0 0 8px #C75757bf;
    transform: translateY(-2px);
}
#escBtn:active {
    transform: translateY(1px);
    box-shadow: 0 0 4px #C75757bf;
}

/* BOTTONI -------------------------------------------------------------------------------------- */
#smart {
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 10px;
	right: 20px;
	top: 20px;
}
#resetCamera,
#resetALL,
#redoBtn,
#undoBtn,
#deleteBtn,
#listBtn,
#saveModel,
#loadModelBtn,
#fullscreenBtn,
#selectBtn,
#deselectBtn {
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	opacity: 50%;
}
#resetALL {
	background: url('https://img.icons8.com/fluency-systems-filled/ffffff/replay.png') no-repeat center center;
	background-size: contain;
}
#resetCamera {
	background: url('https://img.icons8.com/fluency-systems-filled/ffffff/home.png') no-repeat center center;
	background-size: contain;
}
#redoBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/redo.png') no-repeat center center;
	background-size: contain;
}
#undoBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/undo.png') no-repeat center center;
	background-size: contain;
}
#selectBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/select-all.png') no-repeat center center;
	background-size: contain;
}
#deselectBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/select-none.png') no-repeat center center;
	background-size: contain;
}
#deleteBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/eraser.png') no-repeat center center;
	background-size: contain;
}
#listBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/list.png') no-repeat center center;
	background-size: contain;
}
#saveModel {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/save.png') no-repeat center center;
	background-size: contain;
}
#loadModelBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/opened-folder.png') no-repeat center center;
	background-size: contain;
}
#fullscreenBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/resize-diagonal.png') no-repeat center center;
	background-size: contain;
}
#loadModel {
	display: none;
}
#selectionToolbar {
	position: fixed;
	display: flex;
	flex-direction: row;
	gap: 10px;
	right: 20px;
	top: 50px;
}
.filter-btn {
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 15px 15px;
	transition: 0.2s;
	border-radius: 5px;
}
#togglePoints {
	background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/full-stop--v1.png');
}

#toggleLines {
	background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/line.png');
}

#toggleFloors {
	background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/polygone.png');
}

#toggleAmds {
	background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/suspension-dumpers.png');
}

.filter-btn.disabled{
	background-color: #3B3C46;
	opacity: 50%;
}

.filter-btn.active {
	background-color: #545564;
}


/* ELENCO PUNTI E LINEE ------------------------------------------------------------------------- */
#list-panel {
	display: none;
	position: fixed;
	top: 60px;
	right: 10px;
	min-width: 150px;
	max-width: 50%;
	max-height: calc(100% - 100px);
	overflow-y: auto;
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
	padding: 15px;
	border-radius: 20px;
	font-family: monospace;
	font-size: 12px;
	color: white;
}
#list-panel.open {
	display: block;
}
#points-list,
#lines-list,
#floors-list,
#amd-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#points-list,
#lines-list,
#floors-list {
	padding-bottom: 10px;
}
.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.panel-header h4 {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* Bottoni export */
#exportCSV-point,
#exportCSV-line,
#exportCSV-floor,
#exportCSV-amd {
	width: 20px;
	height: 20px;
	background: url('https://img.icons8.com/material-rounded/50/ffffff/download.png') no-repeat center center;
	background-size: contain;
	border: none;
	cursor: pointer;
	margin-top: -5px;
}

/* Scroll bar */
::-webkit-scrollbar {
	width: 30px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 500px;
	border: 10px solid transparent;
	background-clip: content-box;
}
/* ::-webkit-scrollbar-thumb:hover {
	background-color: white;
} */

/* CARICAMENTO ANALISI -------------------------------------------------------------------------- */
#loadingOverlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #3B3C4680;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: default;
	z-index: 9999;
}
.loadingContent {
	text-align: center;
	width: 400px;
	box-shadow: 0 0 10px #00000033;
	border-radius: 20px;
	padding: 10px;
	background: #3B3C46D9;
	font-family: monospace;
	color: white;
	font-weight: bold;
	font-size: 15px;
}
.spinner {
	margin: 15px auto 10px;
	width: 30px;
	height: 30px;
	border: 5px solid #545564;
	border-top-color: white;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
.spinner.error {
	animation: none;
	border: 5px solid #C75757;
	background: #C75757;
	position: relative;
}
.spinner.error::before,
.spinner.error::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22px;
	height: 3px;
	background: white;
	transform-origin: center;
}
.spinner.error::before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.spinner.error::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
@keyframes spin {
	to { transform: rotate(360deg); }
}

/* COOKIE --------------------------------------------------------------------------------------- */
#cookie-banner {
	position: fixed;
	display: flex;
	bottom: 10px;
	left: 0;
	right: 0;
	justify-content: center;
	margin: 0;
  	font-family: monospace;
	color: white;
	font-size: 15px;
	opacity: 50%;
}
#cookie-banner span{
	cursor: pointer;
}
#cookie-overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #3B3C4680;
	align-items: center;
	cursor: default;
	display: none;
	z-index: 9999;
}
#cookie-popup {
	text-align: center;
	max-width: 400px;
	box-shadow: 0 0 10px #00000033;
	border-radius: 20px;
	padding: 10px;
	background: #3B3C46D9;
	position: fixed;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	display: none;
	z-index: 10000;
}
#cookie-popup p{
	margin: 0;
	font-family: monospace;
	color: white;
	font-size: 15px;
}

/* RISULTATI ANALISI MODALE ----------------------------------------------------------------------*/
/* Tabella dei modi */
.AnalisiOutput {
	position: fixed;
	top: 90px;
	right: 20px;
	width: 160px;
	padding: 10px;
	border-radius: 20px;
	background-color: #3B3C4680;
	box-shadow: 0 0 10px #00000033;
	display: none;
	max-height: 630px;
	max-height:	calc(100vh - 165px);
	overflow-y: auto;
	overflow-x: hidden;
}
#analisiOutput::-webkit-scrollbar {
	width: 5px;
}
#analisiOutput::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 4px;
}

#modiTable {
	width: 160px;
	border-collapse: collapse;
	font-family: monospace;
	font-weight: bold;
	color: white;
	font-size: 15px;
	z-index: 1;
	border-radius: 10px;
	overflow: hidden;
	background: #3B3C46D9;
	box-shadow: 0 0 10px #00000033;
}
/* celle */
#modiTable td {
	padding: 10px 0px 10px 0px;
	text-align: center;
}
/* Solo linee orizzontali */
/* #modiTable tr:not(:last-child) td {
	border-bottom: 2px solid #ffffff80;
} */
.expandedRow td {
  background-color: #545564;
  padding-left: 20px;
  text-align: left;
}
.modoRow.expanded {
  background-color: #545564; /* stesso colore delle figlie */
}
/* Hover righe principali */
#modiTable tr.modoRow:hover {
	background: white;
	color: black;
	transition: background 0.2s;
}
#modiTable tr.modoRow td:first-child {
    border-top-left-radius: 10px;
    /* border-bottom-left-radius: 10px; */
}
#modiTable tr.modoRow td:last-child {
    border-top-right-radius: 10px;
    /* border-bottom-right-radius: 10px; */
}
/* Bordi arrotondati SOLO quando non è expanded */
#modiTable tr.modoRow:not(.expanded) td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#modiTable tr.modoRow:not(.expanded) td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* Arrotondamento inferiore dell’ultima riga del blocco */
#modiTable tr.expandedRow.lastExpanded td:first-child {
    border-bottom-left-radius: 10px;
}

#modiTable tr.expandedRow.lastExpanded td:last-child {
    border-bottom-right-radius: 10px;
}

/* GESTIONE RESIZE ------------------------------------------------------------------------------ */

@media (max-width: 910px) {
	#ribbon {
		position: fixed;
		top: 60px;
		left: 10px;
	}
	.panel {
		top: 110px;
		left: 10px;
	}
	#fileBar {
		top: 10px;
		left: 55px;
		width: 310px;
	}
	#nomeFile {
		min-width: 50px;
		flex: 1;
	}
}

@media (max-width: 580px) {
	#smart {
		flex-direction: column-reverse;
		right: 10px;
		top: 10px;
	}
	#selectionToolbar {
		flex-direction: column;
		gap: 10px;
		right: 10px;
		top: 190px;
	}
	#load-form input {
		width: 60px;
	}
	.LoadButton {
		display: flex;
		flex-direction: column;
		height: 44px;
		gap: 5px;
	}
	.LoadButton button {
		height: 19px;
	}
	#fixed-form {
		flex-direction: column;
		padding: 10px;
		border-radius: 20px;
		text-align: center;
		gap: 10px;
	}

	#cookie-banner {
		bottom: 10px;
		width: 180px;
		left: 10px;
		justify-content: left;
	}
	#togglePoints,
	#toggleLines,
	#toggleFloors,
	#toggleAmds {
		display: none;
	}
	#unit p {
		bottom: 30px;
	}
}

@media (max-width: 420px) {
	#ribbon {
		right: 40px;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	#ribbon::-webkit-scrollbar {
		display: none;
	}
	#fileBar {
		right: 40px;
		width: auto;
	}
	.panel {
		right: 40px;
		/* display: flex; */
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.panel::-webkit-scrollbar {
		display: none;
	}
	#point-form{
		min-width: 191px;
	}
	#load-form {
		min-width: 370px;
	}
}

@media (max-width: 300px) {
	#fileBar {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
	}
	#fileBar::-webkit-scrollbar {
		display: none;
	}
}