/*  =============================================================================================
		style.css - Framely web app
	 
		Palette:
			https://coolors.co/4D95FA-a83838-71c140-3c38a8-915b9a-5d4761-443647-272933-3b3c46-545564
		Icone:
			https://icons8.com/icons/all--os-ios--style-ios-glyphs
    ============================================================================================= */

/* -- VARIABILI --------------------------------------------------------------------------------- */
:root {
	/* https://coolors.co/272933-3b3c46-545564 */
	--bg-1:			#272933;
	--bg-2:			#3B3C46;
	--bg-3:			#545564;
	--bg-1-85:		#272933D9; /* 85% */
	--bg-2-85:		#3B3C46D9; /* 85% */
	--bg-2-50:		#3B3C4680; /* 50% */

	/* https://coolors.co/4D95FA-C75757 */
	--accent-blu:	#4D95FA;
	--accent-red:	#C75757;

	--text:			#ffffff;
	--text-50:		#ffffff80; /* 50% */
	--text-place:	#ffffffb3; /* 70% */

	--font-family:	monospace;
	--font-size:	15px;
	--font-weight:	bold;

	--px-xs:		5px;
	--px-s:			10px;
	--px-m:			15px;
	--px-l:			20px;
	--shadow:		0 0 10px #00000033;
}

/* -- 2. RESET & BASE --------------------------------------------------------------------------- */
*, *::before, *::after {
    margin:			0;
    padding:		0;
    box-sizing:		border-box;
}
body {
	font-family:	var(--font-family);
	font-size:		var(--font-size);
	background:		var(--bg-1);
	color:			var(--text);
	margin:			0;
	padding:		0;
	overflow: 		hidden;
	cursor:			crosshair;
	-webkit-font-smoothing: antialiased;
}

/* Rimuove frecce dagli input number - tutti i browser */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0 }
input[type=number] { appearance: textfield }

/* Scroll bar */
::-webkit-scrollbar {
	width: 30px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 500px;
	border: 10px solid transparent;
	background-clip: content-box;
}

input, button, textarea, select, .tab { font: inherit; color: var(--text);}

/* == ELEMENT =================================================================================== */
/* -- BOX -- */
.box {
	display:		flex;
	background:		var(--bg-2-50);
	padding:		var(--px-s);
	border-radius:	var(--px-l);
	box-shadow:		var(--shadow);
	font-weight:	var(--font-weight);
	gap:			var(--px-s);
}

.menu-container {
	position: 		relative;
	flex-direction: column;
	text-align: 	center;
}

/* -- INPUT & BUTTON -- */
.inputs {
	display:		flex;
	flex-direction: column;
	justify-content: space-between;
	gap:			5px;
}
input {
	font-size:		13px;
	font-weight:	lighter;
	background:		var(--bg-1-85);
}
.inputs label {
	display: flex;
	gap: 5px;
	align-items: center;
}
.inputs input {
	flex: 1;
	min-width: 0;
}
#load-form input { width: 130px }									/* Dimensione specifica */
#point-form input { width: 80px }
#amd-form input { width: 80px }
#analisiDropdown input { width: 92px }
#damping-form input { width: 55px }
#Dsisma-form input { width: 40px }
#NMode-form input { width: 40px }
.popup input { width: 150px }

input,
button {
	border-radius:	var(--px-s);
	padding: 		2px 5px 2px 5px;
	border: 		none;
}

button {
	font-weight: 	var(--font-weight);
	background:		var(--bg-3);
	transition:		background-color 0.3s;
	cursor:			pointer;
}
.dropdown-list div:hover,
button:hover {
	background-color: var(--text);
	color:			var(--bg-1);
	font-weight: 	var(--font-weight);
}

.bigButton {
	display:		flex;
	gap:			var(--px-s);
	flex:			1;
}
.bigButton button { flex: 1; height: 100%; }

#removeDamping { display: none; }									/* di default nascosto */

/* -- DROPDOWN LIST -- */
.dropdown-list {
	position:		fixed;
	top:			160px;
	left:			10px;
	min-width:		150px;
	max-width:		calc(100vw - 20px);
	display:		none;
	padding:		var(--px-s);
	background: 	var(--bg-3);
	border-radius:	var(--px-l);
	box-shadow: 	var(--shadow);
	font-weight: 	normal;
}
.dropdown-list div {
	padding:		var(--px-xs);
	cursor:			pointer;
	border-radius:	var(--px-s);
}
.new-btn {
	border-radius:	var(--px-s);
	padding:		var(--px-xs);
	border:			2px solid var(--text);
	transition:		background-color 0.3s;
	cursor:			pointer;
	text-align:		center;
}

/* -- SWITCH -- */
.switch{
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #545564;
	transition: 0.3s;
	border-radius: 20px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #4D95FA;
}
input:checked + .slider:before {
	transform: translateX(20px);
}
.switch-label {
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* == GROUP =================================================================================== */
/* -- LOGO -------------------------------------------------------------------------------------- */
.logo {
	position:		fixed;
	top:			var(--px-m);
	left:			var(--px-m);
	width:			30px;
}

/* -- RIBBON ------------------------------------------------------------------------------------ */
	
#ribbon {
	position:		fixed;
	top:			var(--px-s);
	left:			55px;
	gap:			5px;
	border-radius:	var(--px-l);
	padding:		var(--px-xs);
	/* background:		var(--bg-2-50); */
	box-shadow: 	var(--shadow);
	cursor:			default;
	display:		flex;
	max-width:		calc(100vw - var(--px-s) - 40px);
	flex-wrap:		nowrap;
	overflow-x:		auto;
	overflow-y:		hidden;
	-webkit-overflow-scrolling: touch;
}
#ribbon::-webkit-scrollbar { display: none }
.tab {
	border-radius:	var(--px-m);
	padding:		var(--px-xs);
	height:			30px;
	min-width:		70px;
	border:			none;
	background:		transparent;
	font-weight:	var(--font-weight);
	cursor:			pointer;
}
.tab.big {
	min-width:		85px;
}
.tab.active {
	background:		var(--text);
	color: 			black;
	box-shadow: 	var(--shadow);
}

/* -- TAB MENU ---------------------------------------------------------------------------------- */
.panel {
	display:		none;
	position:		fixed;
	top:			60px;
	left:			var(--px-s);
	height:			90px;
	border-radius:	var(--px-l);
	flex-direction:	row;
	gap:			var(--px-s);
	background:		var(--bg-2-50);
	box-shadow: 	var(--shadow);
	max-width:		calc(100vw - var(--px-s) - 40px);
	flex-wrap:		nowrap;
	overflow-x:		auto;
	overflow-y:		hidden;
	-webkit-overflow-scrolling: touch;
}
.panel::-webkit-scrollbar { display: none }
.panel.active { display: flex }

/* -- FILEBAR ----------------------------------------------------------------------------------- */
#fileBar {
	position:		fixed;
	top:			var(--px-s);
	left:			50%;
	transform:		translateX(-50%);
	display:		flex;
	align-items:	center;
	height: 		40px;
	gap:			var(--px-s);
	padding:		var(--px-xs) var(--px-s);
	background:		var(--bg-2-50);
	border-radius:	var(--px-l);
	box-shadow:		var(--shadow);
}
#nomeFile {
	text-align:		center;
	border-radius:	var(--px-l);
	padding:		var(--px-xs);
	border:			none;
	background:		var(--bg-2-85);
	width:			150px;
	height:			30px;
	font-size:		var(--font-size);
	box-shadow:		var(--shadow);
}
#nomeFile::placeholder { color: var(--text-place); }

#loadModel		{ display: none; }
.file-actions	{ display: flex; gap: 10px; }

/* -- LIST -------------------------------------------------------------------------------------- */
#list-panel {
	display:		none;
	position:		fixed;
	top:			80px;
	right:			var(--px-l);
	min-width:		150px;
	max-width:		50%;
	max-height:		calc(100% - 100px);
	overflow-y:		auto;
	background:		var(--bg-2-85);
	box-shadow:		var(--shadow);
	padding:		var(--px-m);
	border-radius:	var(--px-l);
	font-weight:	normal;
	font-size:		12px;
}
#list-panel.open {
	display: block;
}
#points-list,
#lines-list,
#floors-list,
#amd-list {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#points-list,
#lines-list,
#floors-list {
	padding-bottom: 10px;
}
.panel-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}
.panel-header h4 {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

/* -- POPUP ------------------------------------------------------------------------------------- */
.popup {
	position:		fixed;
	display:		flex;
	inset:			0;
	align-items:	center;
	justify-content: center;
	z-index:		10000;
	cursor:			default;
}
.popup-overlay {
	position:		fixed;
	inset:			0;
	background:		var(--bg-2-50);
	z-index:		999;
}
.popup.hidden { display: none }

.popup-content {
	background: 	var(--bg-2-85);
	box-shadow: 	var(--shadow);
	padding: 		var(--px-s);
	border-radius:	var(--px-l);
	position:		relative;
	z-index:		1000;
	max-width:		calc(100% - 100px);
}
.popup-content h3 { margin: 0 }
.popup label { margin: var(--px-s) 0; font-weight: var(--font-weight);}

.MatTitle,
.SecTitle {
	display:		flex;
	justify-content: space-between;
}
#SectionPopup .field {
	display:		grid;
	grid-template-columns: 50px 1fr;
}
#MaterialPopup .field {
	display:		grid;
	grid-template-columns: 80px 1fr;
}

.preview {
	background:		var(--bg-3);
	font-weight: 	normal;
	padding:		var(--px-s);
	border-radius:	var(--px-m);
}

.buttonsSez button,
.buttonsMat button {
	flex:			1;
	max-width:		none;
}
.buttonsSez,
.buttonsMat {
	display:		flex;
	margin-top:		var(--px-s);
	gap:			var(--px-s);
}

/* -- LIBRARY MAT/SEC --------------------------------------------------------------------------- */
#materialLibraryPopup .popup-content,
#sectionLibraryPopup .popup-content {
	width: 250px;      /* larghezza fissa */
	height: 420px;     /* altezza fissa */
	display: flex;
	flex-direction: column;
	background-color: #3B3C46;
}
.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 10px;
	gap: 10px;
}
.tabs button.active {
	background: white;
	color: black;
}
.library-list {
	flex: 1;
	overflow-y: auto;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 5px;
	margin-bottom: 10px;
}
.library-list div {
	padding: 5px;
	cursor: pointer;
}
.library-list div:hover {
	background: white;
	color: black;
	border-radius: 10px;
}
#matLibraryBtn,
#secLibraryBtn {
	background:		url('https://img.icons8.com/ios-glyphs/ffffff/database-import.png') no-repeat center center;
	background-size: contain;
	width:			var(--px-l);
	height:			var(--px-l);
	border:			none;
	cursor:			pointer;
}

/* -- UNIT -------------------------------------------------------------------------------------- */
#unit p {
	position:		fixed;
	bottom:			var(--px-s);
	left:			var(--px-s);
	margin: 		0;
	color:			var(--text-50);
}

#cookie-banner {
	position:		fixed;
	display:		flex;
	bottom:			var(--px-s);
	left:			0;
	right:			0;
	justify-content: center;
	margin:			0;
	opacity:		50%;
}
#cookie-banner span{ cursor: pointer }
#cookie-overlay {
	position:		fixed;
	top:			0;
	left:			0;
	width:			100%;
	height:			100%;
	background:		var(--bg-2-50);
	align-items:	center;
	cursor:			default;
	display:		none;
	z-index:		9999;
}
#cookie-popup {
	text-align:		center;
	max-width:		400px;
	box-shadow:		var(--shadow);
	border-radius:	var(--px-l);
	padding:		var(--px-s);
	background:		var(--bg-2-85);
	position:		fixed;
	bottom:			50px;
	left:			50%;
	transform:		translateX(-50%);
	display:		none;
	z-index:		10000;
}
#cookie-popup p{ margin: 0 }

/* -- ANALYSIS BTN ------------------------------------------------------------------------------ */
.analisiBtn {
	border:			2px solid var(--accent-blu);
	background:		var(--bg-2-85);
	box-shadow:		var(--shadow);
	margin:			var(--px-s);
	margin-left:	var(--px-xs);
}
#analisiBtn {
	border-radius:	var(--px-m);
	height:			30px;
	margin: 		0;
}
#escBtn {
	background:		var(--accent-red);
	position:		fixed;
	bottom:			var(--px-s);
	right:			var(--px-s);
	border-radius:	var(--px-m);
	height:			30px;
}

.analisiBtn:hover {
	background:		var(--accent-blu);
	color:			var(--text);
	box-shadow: 	0 0 8px var(--accent-blu);
}
#escBtn:hover {
	background:		var(--accent-red);
	color:			var(--text);
	box-shadow: 	0 0 8px var(--accent-red);
}

.analisiBtn:active {
	transform:		translateY(2px);
	box-shadow:		0 0 4px var(--accent-blu);
}
#escBtn:active {
	transform:		translateY(2px);
	box-shadow:		0 0 4px var(--accent-red);
}

/* -- ANALYSIS POPUP ---------------------------------------------------------------------------- */
#loadingOverlay {
	position:		fixed;
	top:			0;
	left:			0;
	width:			100%;
	height:			100%;
	background:		var(--bg-2-50);
	display:		none;
	justify-content: center;
	align-items:	center;
	cursor:			default;
	z-index:		9999;
}
.loadingContent {
	text-align:		center;
	width:			400px;
	box-shadow:		var(--shadow);
	border-radius:	var(--px-l);
	padding:		var(--px-s);
	background:		var(--bg-2-85);
}
.spinner {
	margin:			var(--px-m) auto var(--px-s);
	width:			30px;
	height:			30px;
	border:			5px solid var(--bg-3);
	border-top-color: var(--text);
	border-radius:	50%;
	animation:		spin 1s linear infinite;
}
.spinner.error {
	animation:		none;
	border:			5px solid var(--accent-red);
	background:		var(--accent-red);
	position:		relative;
}
.spinner.error::before,
.spinner.error::after {
	content: 		"";
	position:		absolute;
	top:			50%;
	left:			50%;
	width:			22px;
	height:			3px;
	background:		var(--text);
	transform-origin: center;
}
.spinner.error::before { transform: translate(-50%, -50%) rotate(45deg) }
.spinner.error::after { transform: translate(-50%, -50%) rotate(-45deg) }
@keyframes spin { to { transform: rotate(360deg); } }

/* == ANALYSIS ================================================================================== */
#analisiGroup {
	position:		fixed;
	top:			150px;
	transition:		transform 0.3s ease;
}
.analysis-results {
	left:			var(--px-xs);
	padding:		var(--px-s);
	border-radius:	var(--px-l);
	margin:			0;
}

/* -- DEFORMAZIONI ------------------------------------------------------------------------------ */
#analisiDropdown {
	align-items:	stretch;
	text-align:		center;
	gap:			var(--px-xs);
}
#auto-scale,
#color-scale {
	display:		flex;
	align-items:	center;
	gap:			var(--px-s);
}

/* -- Tabella modi -- */
#analisiOutput {
	display:		none;
	position:		fixed;
	flex-direction:	column;
	top:			50px;
	right:			var(--px-l);
	width:			170px;
	max-height:		calc(100vh - 110px);
	border-radius:	var(--px-l);
	gap:			var(--px-s);
	background:		var(--bg-2-50);
	box-shadow: 	var(--shadow);
	transition:		transform 0.3s ease;
	z-index: 10;
}
.analisiOutputOut {
	border-radius:	var(--px-m);
	margin:			var(--px-xs);
	overflow-y:		auto;
	overflow-x:		hidden;
}
.analisiOutputOut::-webkit-scrollbar {
	width:			var(--px-xs);
}
.analisiOutputOut::-webkit-scrollbar-thumb {
	background:		var(--text);
	border-radius:	var(--px-xs);
}
.toggle-btn { display: none }
#togglePanel {
	position:		absolute;
	right:			calc(100% + 20px);
}
#toggleRisultati {
	position:		absolute;
	top:			var(--px-s);
	left:			200px;
}

#dropdownList { top: 116px }

#modiTable {
	width:			160px;
	border-collapse: collapse;
	font-weight:	var(--font-weight);
	z-index:		1;
	border-radius:	var(--px-s);
	overflow:		hidden;
	background:		var(--bg-2-85);
	box-shadow:		var(--shadow);
}
#modiTable td {
	padding:		var(--px-s) 0px;
	text-align:		center;
}
.expandedRow td {
  background-color:	var(--bg-3);
  padding-left:		var(--px-l);
  text-align:		left;
}
.modoRow.expanded {
  background-color: var(--bg-3);
}
#modiTable tr.modoRow:hover {
	background:		var(--text);
	color:			var(--bg-1);
	transition:		background 0.2s;
}
#modiTable tr.modoRow td:first-child { border-top-left-radius: var(--px-s) }
#modiTable tr.modoRow td:last-child { border-top-right-radius: var(--px-s) }

/* Bordi arrotondati SOLO quando non è expanded */
#modiTable tr.modoRow:not(.expanded) td:first-child {
    border-top-left-radius:		var(--px-s);
    border-bottom-left-radius:	var(--px-s);
}

#modiTable tr.modoRow:not(.expanded) td:last-child {
    border-top-right-radius:	var(--px-s);
    border-bottom-right-radius:	var(--px-s);
}
/* Arrotondamento inferiore dell’ultima riga del blocco */
#modiTable tr.expandedRow.lastExpanded td:first-child {
    border-bottom-left-radius:	var(--px-s);
}

#modiTable tr.expandedRow.lastExpanded td:last-child {
    border-bottom-right-radius:	var(--px-s);
}

/* == ICONE ===================================================================================== */
/* -- ICON BMT ---------------------------------------------------------------------------------- */
#smart {
	position:		fixed;
	display:		flex;
	flex-direction:	row;
	gap:			var(--px-s);
	right:			var(--px-l);
	top:			var(--px-l);
}
#resetCamBtn,
#resetALL,
#redoBtn,
#undoBtn,
#deleteBtn,
#listBtn,
#saveModel,
#loadModelBtn,
#fullScreenBtn,
#selectBtn,
#deselectBtn,
#togglePanel,
#toggleRisultati {
	width:			var(--px-l);
	height:			var(--px-l);
	border:			none;
	cursor:			pointer;
	opacity:		50%;
	flex:			0 0 auto;
}
#resetALL {
	background: url('https://img.icons8.com/fluency-systems-filled/ffffff/replay.png') no-repeat center center;
	background-size: contain;
}
#resetCamBtn {
	background: url('https://img.icons8.com/fluency-systems-filled/ffffff/home.png') no-repeat center center;
	background-size: contain;
}
#redoBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/redo.png') no-repeat center center;
	background-size: contain;
}
#undoBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/undo.png') no-repeat center center;
	background-size: contain;
}
#selectBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/select-all.png') no-repeat center center;
	background-size: contain;
}
#deselectBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/select-none.png') no-repeat center center;
	background-size: contain;
}
#deleteBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/eraser.png') no-repeat center center;
	background-size: contain;
}
#listBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/list.png') no-repeat center center;
	background-size: contain;
}
#saveModel {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/save.png') no-repeat center center;
	background-size: contain;
}
#loadModelBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/opened-folder.png') no-repeat center center;
	background-size: contain;
}
#fullScreenBtn {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/resize-diagonal.png') no-repeat center center;
	background-size: contain;
}
#togglePanel {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/less-than.png') no-repeat center center;
	background-size: contain;
}
#toggleRisultati {
	background: url('https://img.icons8.com/ios-glyphs/ffffff/more-than.png') no-repeat center center;
	background-size: contain;
}

/* -- FILTER BTN -------------------------------------------------------------------------------- */
.filter-btn {
	width:			var(--px-l);
	height:			var(--px-l);
	border:			none;
	cursor:			pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: var(--px-m) var(--px-m);
	transition:		background-color 0.3s;
	border-radius:	var(--px-xs);
}
#togglePoints { background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/full-stop--v1.png')}
#toggleLines { background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/line.png') }
#toggleFloors { background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/polygone.png') }
#toggleAmds { background-image: url('https://img.icons8.com/ios-glyphs/30/ffffff/suspension-dumpers.png')}

.filter-btn.disabled { background-color: var(--bg-2-50) }
.filter-btn.active { background-color: var(--bg-3) }

#selectionToolbar {
	position:		fixed;
	display:		flex;
	flex-direction: row;
	gap:			var(--px-s);
	right:			var(--px-l);
	top:			50px;
}

/* == RESIZE ==================================================================================== */
@media (max-width: 1300px) {
	#fileBar {
		left:			520px;
		transform:		translateX(0);
	}
}
@media (max-width: 1000px) {
	#ribbon {
		top:			60px;
		left:			10px;
	}
	.panel {
		top:			110px;
		left:			10px;
	}
	.dropdown-list { top: 210px }
	#fileBar {
		top:			10px;
		left:			55px;
		width:			340px;
	}
	#nomeFile {
		min-width:		50px;
		flex:			1;
	}
	#analisiBtn {
		background:		var(--accent-blu);
		position:		fixed;
		bottom:			var(--px-s);
		right:			var(--px-s);
	}
	#analisiOutput { transform: translateX(calc(100% + 20px)) }
	#analisiGroup { top: 200px; transform: translateX(calc(-100%)) }

	.toggle-btn { display: block }
	#toggleRisultati { left: calc(100% + 20px) }
	#analisiGroup.open #toggleRisultati { left: 200px }

	#analisiOutput.open { transform: translateX(0) }
	#analisiOutput.open #togglePanel { transform: rotate(180deg) }
	#analisiGroup.open { transform: translateX(0) }
	#analisiGroup.open #toggleRisultati { transform: rotate(180deg) }
}
@media (max-width: 600px) {
	#smart {
		flex-direction: column-reverse;
		right:			10px;
		top:			10px;
	}
	#selectionToolbar {
		flex-direction: column;
		gap:			10px;
		right:			10px;
		top:			190px;
	}
	#load-form input { width: 60px }
	#load-form .bigButton {
		flex-direction: column;
		gap: 5px;
	}
	#load-form .bigButton button {
		width:			100%;
		padding: 0;
	}
	.LoadButton {
		display:		flex;
		flex-direction: column;
		height:			44px;
		gap:			5px;
	}
	.LoadButton button { height: 19px }
	#fixed-form {
		justify-content: center;
		flex-direction: column;
		padding:		10px;
		border-radius:	20px;
		text-align:		center;
		gap:			10px;
	}
	#fixed-form button {
		flex: 1;
	}
	#cookie-banner {
		bottom:			10px;
		width:			180px;
		left:			10px;
		justify-content: left;
	}
	#togglePoints,
	#toggleLines,
	#toggleFloors,
	#toggleAmds { display: none }
	#unit p { bottom: 30px }
	#togglePanel { right: calc(100% + 10px) }
	#analisiOutput { top: 210px }
}

@media (max-width: 440px) {
	#fileBar {
		right:			40px;
		width:			auto;
	}
	.dropdown-list#dropdownSez,
	.dropdown-list#dropdownMat {
		top:			50%;
		left:			50%;
		transform:		translate(-50%, -50%);
	}
	.loadingContent {
		width: calc(100vw - 20px);
	}
}
@media (max-width: 300px) {
	#fileBar {
		display:		flex;
		flex-wrap:		nowrap;
		overflow-x:		auto;
		overflow-y: 	hidden;
		-webkit-overflow-scrolling: touch;
	}
	#fileBar::-webkit-scrollbar { display: none }
}